## null: SQL from Jupyter

$ pip install jupysql

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///data/penguins.db

Connecting to 'sqlite:///data/penguins.db'

In [3]:
%%sql
select species, count(*) as num
from penguins
group by species;

Running query in 'sqlite:///data/penguins.db'

+-----------+-----+
|  species  | num |
+-----------+-----+
|   Adelie  | 152 |
| Chinstrap |  68 |
|   Gentoo  | 124 |
+-----------+-----+